<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="google-site-verification" content="jU10rjNyf42RwJtqWsdPgcBFczML5wnBmEMPH0MwJbM" />
    <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>Donors List</title>

    <!-- Bootstrap -->
	<link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Links -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/Common.css">

    <!--JS-->
    <script src="js/Core/jquery.js"></script>
    <script src="js/Core/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/ViewsJS/Common.js"></script>

    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/Core/html5shiv.js"></script>
    <![endif]-->
    <script src='js/Core/device.min.js'></script>
    <script src="js/ViewsJS/Common.js"></script>
	<script src="js/Core/angular.js"></script>
    <script src="js/Core/ng-table.min.js"></script>
	<script src="js/Core/bootstrap.min.js"></script>
    <script src="js/ViewsJS/Ashramam_Donors.js"></script>
</head>

<body ng-app="ngTableTutorial">
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="clearfix header__mod">
        <div id="stuck_container" class="stuck_container">
            
            <!--<div class="srch"><a class="search-form_toggle" href="#"></a>

                <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
                    <label class="search-form_label">
                        <input class="search-form_input" type="text" name="s" autocomplete="off"
                               placeholder="Search.."/>
                        <span class="search-form_liveout"></span>
                    </label>
                    <button class="search-form_submit fa-search" type="submit"></button>
                </form>
            </div>-->
        </div>
    </header>

    <!--========================================================
                              CONTENT
    =========================================================-->

    <main>

        <section class="well7 bg-primary">
            <div class="container" ng-controller="tableController">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>
                            Sri Vaikhanasa Ashramam, Hyderabad - Donors List
                        </h2>
                        <br/>
                        <p>
                            Following are the list of donors who helped us in realizing our dream of building our own “Sri Vaikhanasa Ashramam” at Hyderabad. 
                        </p>
                        <br/>
                        <div>
                            <table ng-table="usersTable" show-filter="true" class="table table-striped table-hover table-bordered">
                               <tr ng-repeat="user in userdata" ng-init="getAshramDonorsFullName(user)">
                                   <td data-title="'SNO'" sortable="'SNO'" ng-bind='user.SNO'></td>
                                   <td data-title="'NAME'" filter="{ 'userFullName': 'text' }" ng-bind='user.userFullName'></td>
                                   <td data-title="'PLACE'" filter="{ 'PLACE': 'text' }" ng-bind='user.PLACE'></td>    
                                   <td data-title="'AMOUNT'" filter="{ 'AMOUNT': 'text' }" ng-bind='user.AMOUNT'></td>
                                   <td data-title="'DATE'" filter="{ 'DATE': 'text' }" ng-bind='user.DATE'></td>
                                   <td data-title="'RECEIPT NO'" filter="{ 'RECEIPT': 'text' }" ng-bind='user.RECEIPT'></td>
                               </tr>
                            </table>    
                        </div>
                        <br/><br/>
                        <div>
                            <p>
                                <b>Following are the items that are donated to SriVikhanasramam, Hyderabad</b>
                            </p>
                            <br/>
                            <div>
                                <table ng-table="itemsTable" show-filter="true" class="table table-striped table-hover table-bordered">
                                   <tr ng-repeat="item in itemdata" ng-init="getItemDonorsFullName(item)">
                                       <td data-title="'SNO'" sortable="'SNO'" ng-bind='item.SNO'></td>
                                       <td data-title="'NAME'" filter="{ 'itemFullName': 'text' }" ng-bind='item.itemFullName'></td>
                                       <td data-title="'PLACE'" filter="{ 'PLACE': 'text' }" ng-bind='item.PLACE'></td>    
                                       <td data-title="'ITEM'" filter="{ 'ITEM': 'text' }" ng-bind='item.ITEM'></td>
                                       <td data-title="'IMG'"><img ng-src="{{item.IMG}}" style="width:50px;height: 50px;" ng-click="showImage(item.IMG, item.ITEM)" alt="{{item.ITEM}}" /></td>
                                   </tr>                            
                                </table>
                            </div>
                        </div>
                        <div id="myModal" class="modal">
                          <span class="close" id="close01" ng-click="closeFunction()">&times;</span>
                          <img class="modal-content" id="img01">
                          <div id="caption"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<section class="well7 bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h2 class="ttu fw-l">
                            Sri Vaikhanasa Ashramam
                        </h2>
                        <img class="" src="images/page-2_img01.jpg" alt="">
                        <h4 class="ttu ls__mod">
                            <a href="#">
                                Sed consectetur in lectus <br/>
                                sit amet ultr urabitur
                            </a>
                        </h4>

                        <p class="p__mod">
                            Proin ligula metus, tincidunt sit amet magna vitae, porta aliquet urna. Sed consectetur in
                            lectus sit dictum ligula. Quisque elementum tincidunt arcu, nec pharetra tortor vestibulum
                            et.
                            <br/><br/>

                            Sed ante neque, aliquet eget ante vitae, bibendum laoreet velit vitae, aliquam orci. In
                            faucibus lacus Aenean vel ultricies turpis. Duis commodo euismod nisl sit amet placerat.
                            Aliquam ullamcorper tellus,
                            Morbi porta, augue quis aliquet blandit, nisl sapien eleifend velit, id mole.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h2 class="ttu fw-l">
                            History
                        </h2>

                        <article>
                            <time class="ff__mod" datetime="2015-01-01">01/04/2010</time>
                            <h4 class="ttu ff__mod"><a href="#">Proin sit amet mollis</a></h4>

                            <p class="ff__mod p__mod">Sed ante neque, aliquet eget ante vitae, bibendum laoreet velit
                                vitae, aliquam orci. In faucibus lacus eu arcu maximus, imperdiet sodales purus gravida.
                                Fusce convallis fringilla enim at ullamcorper. </p>
                        </article>

                        <article>
                            <time class="ff__mod" datetime="2015-01-01">01/04/2010</time>
                            <h4 class="ttu ff__mod"><a href="#">Quisque elementum tinc</a></h4>

                            <p class="ff__mod p__mod">Vivamus efficitur dictum risus ut eleifend. Quisque tempor.
                                Quisque eget elementum nisl. Suspendisse blandit ex purus, nec pretium orci cursus nec.
                                Cras rutrum, purus ut ornare pharetra, mi purus. </p>
                        </article>


                        <article>
                            <time class="ff__mod" datetime="2015-01-01">01/04/2010</time>
                            <h4 class="ttu ff__mod"><a href="#">elementum tincidunt</a></h4>

                            <p class="ff__mod p__mod">Quisque sed tincidunt velit. Vivamus efficitur dictum risus ut
                                eleifend. Quisque porttitor iaculis laoreet. Morbi id auctor tellus. Pellentesque non
                                erat vitae magna hendrerit tempor. </p>
                        </article>

                    </div>
                    <div class="col-md-4 col-sm-12">
                        <h2 class="ttu fw-l">
                            Facilities
                        </h2>

                        <h3 class="ttu">
                            <a href="#">
                                eget mollis
                            </a>
                        </h3>

                        <p class="p__mod">
                            Proin ligula metus, tincidunt sit amet magna vitae, porta aliquet urna. Sed consectetur in
                            lectus sit amet pharetra tortor vestibulum et. Suspendisse vulputate consequat. Aliquam
                            tempus iaculis dui, id lacinia nunc auctor at. Sed ante neq.
                        </p>
                        <ul class="marked-list">
                            <li><a href="#">Proin ligula metus, tincidunt sit</a></li>
                            <li><a href="#">Amet magna vitae, porta aliquet urna</a></li>
                            <li><a href="#">Sed consectetur in lectus sit amet ultricies</a></li>
                            <li><a href="#">Curabitur nec gravida</a></li>
                            <li><a href="#">Quisque elementum tincidunt arcu, nec pha</a></li>
                            <li><a href="#">Suspendisse vulputate quam sed egestas lacinia</a></li>
                            <li><a href="#">Aliquam cursus at nibh consequat</a></li>
                            <li><a href="#">Empus iaculis dui id lacinia nunc auctor at</a></li>
                            <li><a href="#">Sed ante neque aliquet eget ante vitae</a></li>
                            <li><a href="#">Morbi sit amet dolor malesuada laoreet</a></li>
                            <li><a href="#">In faucibus lacus arcu maximus</a></li>
                            <li><a href="#">Mperdiet sodales purus gravida</a></li>
                            <li><a href="#">Fusce convallis fringilla enim at ullamcorper</a></li>
                            <li><a href="#">Aenean vel ultricies turpis</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="parallax parallax2" data-url="images/parallax3.jpg" data-mobile="true">
            <div class="container center767">
                <h2 class="ttu txt-clr1">Temple Priests</h2>

                <div class="row offs1">
                    <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="thumbnail3">
                            <img src="images/page-2_img02.jpg" alt="">

                            <div class="caption" data-equal-group="1">
                                <h5 class="ttu">
                                    <a href="#">
                                        Thomas Bishop
                                    </a>
                                </h5>

                                <p class="fw-n">
                                    Fusce suscipit varius mi. Cum sociis parturient montes, nascetur ridic.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                        <div class="thumbnail3">
                            <img src="images/page-2_img03.jpg" alt="">

                            <div class="caption" data-equal-group="1">
                                <h5 class="ttu">
                                    <a href="#">
                                        Eva Adamson
                                    </a>
                                </h5>

                                <p class="fw-n">
                                    Proin ligula metus, tincidunt sit am
                                    et magna vitae, porta aliquet urna.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                        <div class="thumbnail3">
                            <img src="images/page-2_img04.jpg" alt="">

                            <div class="caption" data-equal-group="1">
                                <h5 class="ttu">
                                    <a href="#">
                                        Sam Kromstain
                                    </a>
                                </h5>

                                <p class="fw-n">
                                    Sed consectetur in lectus sit amet ultricies. Curabitur nec gravida nisi.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
                        <div class="thumbnail3">
                            <img src="images/page-2_img05.jpg" alt="">

                            <div class="caption" data-equal-group="1">
                                <h5 class="ttu">
                                    <a href="#">
                                        Olivia Grosh
                                    </a>
                                </h5>

                                <p class="fw-n">
                                    Quisque elementum tincidunt arcu, nec pharetra tortor vestibulum et.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="well3 well3__mod bg-alt">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <h2 class="ttu">
                            Rituals
                        </h2>
                        <ul class="row offs index-list">
                            <li>
                                <h4 class="ttu">
                                    <a href="#">
                                        Proin sit amet mollis
                                    </a>
                                </h4>

                                <p class="p__mod">
                                    Fusce convallis fringilla enim at turpis. Duis commodo euismod nisl ullamcorper elit
                                    tellus, at consectetur augue volutpat vel.
                                </p>
                            </li>

                            <li>
                                <h4 class="ttu">
                                    <a href="#">
                                        Sed et tempus arcu

                                    </a>
                                </h4>

                                <p class="p__mod">
                                    Curabitur id tincidunt neque, sit amet
                                    turpis. Duis commodo euismod nisl ullamcorper elit tellus, at consectetur augue
                                    volutpat vel.
                                </p>
                            </li>

                            <li>
                                <h4 class="ttu">
                                    <a href="#">
                                        Quisque sed tincid
                                    </a>
                                </h4>

                                <p class="p__mod">
                                    Morbi porta, augue quis aliquet blandit, nisl sapien eleifend velit, id Curabitur id
                                    tincidunt neque, sit amet cidunt dui suspendisse.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <h2 class="ttu">
                            Deities
                        </h2>

                        <h3 class="ttu">
                            <a href="#">
                                eget mollis
                            </a>
                        </h3>

                        <p class="p__mod">
                            Sed consectetur in lectus sit amet pharetra tortor Aliquam tempus iaculis dui, id lacinia
                            nunc auctor at.
                            ue, aliquet eget ante vitae, bibendum feugiat odio. Morbi sit amet dolor.
                        </p>
                        <ul class="marked-list marked-list__mod">
                            <li><a href="#">Quisque elementum tincidunt arcu, nec pha</a></li>
                            <li><a href="#">Suspendisse vulputate quam sed egestas lacinia</a></li>
                            <li><a href="#">Aliquam cursus at nibh consequat</a></li>
                            <li><a href="#">Empus iaculis dui id lacinia nunc auctor at</a></li>
                            <li><a href="#">Sed ante neque aliquet eget ante vitae</a></li>
                            <li><a href="#">Morbi sit amet dolor malesuada laoreet</a></li>
                            <li><a href="#">In faucibus lacus arcu maximus</a></li>
                            <li><a href="#">Mperdiet sodales purus gravida</a></li>
                            <li><a href="#">Fusce convallis fringilla enim at ullamcorper</a></li>
                            <li><a href="#">Aenean vel ultricies turpis</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h2 class="ttu">
                            They say
                        </h2>
                        <blockquote class="blockquote2 blockquote2__mod">
                            <p>“</p>
                                    <q>
                                        Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada
                                        at, neque. Vivamus eget nibh. Etiam cursus leo vel Vestibulum ante ipsum primis
                                        in faucibus orci luctus et ultrices posuere cubilia Curae spened leo. Ut
                                        pharetra augue nec augue.
                                    </q>
                                <cite>
                                    Patrick Pool, USA
                                </cite>
                        </blockquote>
                        <blockquote class="blockquote2 blockquote2__mod">
                            <p>“</p>

                                    <q>
                                        Vestibulum eget finibus velit. Curabitur consectetur, ante dolor tempus neque,
                                        eget mollis velit mauris in metus. Vestibulum eleifend eu nisl ornare feugiat.
                                        Nulla vel eros eu magna accumsan feugiat. In maximus luctus velit.
                                    </q>
                                <cite>
                                    Jessica Priston, USA
                                </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>-->

    </main>


    <!--========================================================
                            FOOTER
  =========================================================-->
    <footer class="center767">
        
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/Core/bootstrap.min.js"></script>
<script src="js/Core/tm-scripts.js"></script>
<!-- </script> -->

<script type="text/javascript">
    $('#stuck_container').append(menuHeader);
    $('#liAshramam').addClass('active');
    $('footer').append(menuFooter);
</script>
</body>
</html>
