<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <meta name="google-site-verification" content="jU10rjNyf42RwJtqWsdPgcBFczML5wnBmEMPH0MwJbM" />
    <meta http-equiv="Cache-control" content="public">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>Vaikhanasa Purohitulu</title>

    <!-- Bootstrap -->
	<link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Links -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/Common.css">

    <!--JS-->
    <script src="js/Core/jquery.js"></script>
    <script src="js/Core/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/ViewsJS/Common.js"></script>
  
    <script src='js/Core/device.min.js'></script>
    <script src="js/ViewsJS/Common.js"></script>
    <script src="js/Core/angular.js"></script>
    <script src="js/Core/ng-table.min.js"></script>
    <script src="js/ViewsJS/Vaikhanasa_Purohitulu.js"></script>
</head>

<body ng-app="ngTableTutorial">
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="clearfix header__mod">
        <div id="stuck_container" class="stuck_container">
            
            
        </div>
    </header>

    <!--========================================================
                              CONTENT
    =========================================================-->

    <main>

        <section class="well5 bg-primary">
            <div class="container">
                <h2 style="text-align: center;">
                    Vaikhanasa Purohitulu                     
                </h2>
                <br/>
                <div ng-controller="purohitController">
                    <h5 class="textCenter ">
                        Below the list of vaikanasa purohit's who perform yaagnikam
                    </h5>
                    <div>
                        <table ng-table="yaagnikamTable" show-filter="true" class="table table-striped table-hover table-bordered table-responsive">
                            <tr ng-repeat="user in data">
                                <td data-title="'NAME'" filter="{ 'Name': 'text' }" ng-bind="user.prefix + ' ' + user.Surname + ' ' + user.Name"></td>
                                <td data-title="'RESIDENCE'" filter="{ 'Place': 'text' }" ng-bind="user.Place"></td>    
                                <td data-title="'MOBILE'" filter="{ 'Mobile': 'text' }" ng-bind="user.Mobile"></td>
                                <td data-title="'LANDLINE'" filter="{ 'LandLine': 'text' }" ng-bind="user.LandLine"></td>                            
                            </tr>
                        </table>                            
                    </div>
                    <br/><br/>
                    <h5 class="textCenter textUnderline">
                        Below the list of vaikanasa purohit's who perform aparam
                    </h5>
                    <div>
                        <table ng-table="aparamTable" show-filter="true" class="table table-striped table-hover table-bordered table-responsive">
                            <tr ng-repeat="user02 in data">
                                <td data-title="'NAME'" filter="{ 'Name': 'text' }" ng-bind="user02.prefix + ' '+ user02.Surname + ' '+ user02.Name"></td>
                                <td data-title="'RESIDENCE'" filter="{ 'Place': 'text' }" ng-bind="user02.Place"></td>    
                                <td data-title="'MOBILE'" filter="{ 'Mobile': 'text' }" ng-bind="user02.Mobile"></td>
                                <td data-title="'LANDLINE'" filter="{ 'LandLine': 'text' }" ng-bind="user02.LandLine"></td>                            
                            </tr>
                        </table>                            
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!--========================================================
                            FOOTER
  =========================================================-->
    <footer class="center767">
        
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/Core/bootstrap.min.js"></script>
<script src="js/Core/tm-scripts.js"></script>
<!-- </script> -->

<script type="text/javascript">
    $('#stuck_container').append(menuHeader);
    $('#liServices').addClass('active');
    $('footer').append(menuFooter);
</script>
</body>
</html>
